* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white);
}

header {
	width: 100vw;
	height: 100vh;
	position: relative;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		height: 10%;
		box-shadow: 0px 5px 5px var(--black);

		.nav_logo {
			display: flex;
			margin: 0 0 0 30px;

			i {
				font-size: 2rem;
				padding: 5px;
				color: var(--grey);
			}

			h1 {
				font-size: 2rem;
				padding: 5px;
			}
		}

		ul {
			display: none;
		}

		.nav_btn {
			display: none;
		}
	}

	img{
		width: 100vw;
	}

	.header_text{
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 70%;
		text-align: center;
		color: var(--white);

		h1{
			font-size: 1.5rem;
			padding: 5px;
		}

		p{
			font-size: .8rem;
		}

		button{
			margin: 20px;
			background-color: var(--white);
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}
