@media only screen and (min-width: 568px) {
	header {
		.header_text{

            h1{
                font-size: 3rem;
            }

            p{
                font-size: 1.2rem;
            }

            button{
                padding: 20px 30px;
                font-size: 1.2rem;
            }
        }
	}

    main{
        .search_area{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -60px auto;

            .search_choose{
                align-items: center;
                margin: 10px;
                .location, .type, .price{
                    width: 20vw;
                    margin: 3px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {

        nav{
            position: sticky;
            top: 0;
            left: 0;
            z-index: 12;
            background-color: var(--white);
        }

        img{
            position: absolute;
            top: 0;
            z-index: 10;
        }

		.header_text{
            top: 30vh;
            z-index: 14;
        }

        nav{
            .nav_btn{
                button{
                    cursor: pointer;
                }
                
            }
        }
	}

    main{
        .search_area{
            position: absolute;
            top: 80%;
            left: 50%;
            z-index: 25;
            transform: translate(-50%,-50%);

            .search_choose{
                margin: 10px;
                .location, .type, .price{
                    width: 20vw;
                    margin: 3px;
                }
            }
        }
    }

}

@media only screen and (min-width: 850px){
    main{
        .search_area{
            top:95%;
        }
    }
}


@media only screen and (min-width: 1024px) {
	header {
		nav {
			ul{
                display: flex;
    
                li{
                    padding: 0 25px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: var(--black);
                    }
                }
            }
    
            .nav_btn{
                display: flex;
                margin: 0 30px 0 0;
                a{
                    text-decoration: none;
                    color: var(--black);
                    padding: 20px;
                }
    
                button{
                    margin: 10px;
                    padding: 14px 24px;
                    border: none;
                    background-color: var(--lRed);
                    border-radius: 10px;
                    color: var(--white);
                }
            }
		}

        .header_text{
            top: 70vh;
        }
	}

    main{
        .search_area{
            height: 20vh;
            width: 80vw;
            top: 113%;

            .search_choose{
                .location, .type, .price{
                    font-size: 1.3rem;
                    select{
                        width: 17vw;
                    }
                }
            }

            .btn{
                margin: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    main{
        .search_area{
            top: 110%;
        }
    }
}